<ion-view view-title="Sub Category">
	<ion-content>
		<ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
		  <ion-item ng-repeat="subcat in category" class=" item-icon-right" href="#/tab/dash/{{catId}}/{{subcat.id}}">
        <h2>{{subcat.name}}</h2>
		  	<p>{{subcat.id}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="deleteConfirm(subcat.id,subcat.name)"> Delete </ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(subcat.id)"> Edit </ion-option-button>
		  </ion-item>
		</ion-list>
	</ion-content>
	<ion-footer-bar class="bar-light bar bar-footer" >
		<div class="button-bar">
		  <a class="button button-calm" ng-click="addCat.show()">Add</a>
		</div>
	</ion-footer-bar>

  <div ng-include src="'/templates/modals/addCategoryModal.html'"></div>
  <div ng-include src="'/templates/modals/editCategoryModal.html'"></div>

</ion-view>
