<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data

<ion-view view-title="{{cat.id}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 64px; height: 64px">
    <p>
      {{cat.name}}
    </p>
  </ion-content>
</ion-view>
-->
<ion-view view-title="Entries"> <!-- TODO : set the title to received SubCategory name-->
  <ion-content>
    <ion-list show-delete="shouldShowDelete" can-swipe="listCanSwipe">
      <ion-item ng-repeat="entry in data" ng-click="view(entry.id)">
        <h2>{{entry.name}}</h2>
        <p>{{entry.id}}</p>
        <ion-option-button class="button-assertive" ng-click="deleteConfirm(entry.id,entry.name)"> Delete </ion-option-button>
        <ion-option-button class="button-positive" ng-click="edit(entry.id)"> Edit </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-light bar bar-footer" >
    <div class="button-bar">
      <a class="button button-calm" ng-click="addData.show()">Add</a>
    </div>
  </ion-footer-bar>


  <div ng-include src="'/templates/modals/addDataModal.html'"></div>
  <div ng-include src="'/templates/modals/editDataModal.html'"></div>

</ion-view>
