<!-- Edit Data Modal -->
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">edit entry</h1>
    <button class="button button-clear button-primary" ng-click="editData.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form class="list" id="editcat" name="editcat">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input name="Name" id="Name" ng-model="newData.name" type="text" required="">
      </label>
      <label class="item item-input">
        <span class="input-label">Date</span>
        <input name="Date" id="date" ng-model="newData.date" type="date" required="">
      </label>
      <label class="item item-input">
        <span class="input-label">Value</span>
        <input name="Paid" id="paid" ng-model="newData.paid" type="number" required="">
      </label>
      <label class="item item-input">
        <span class="input-label">Comment</span>
        <textarea name="Comment" id="comment" ng-model="newData.comment"  required=""></textarea>
      </label>
      <p ng-show="(editcat.Name.$touched || editcat.Name.$submitted) && editcat.Name.$error.required" class="assertive"> the Name field is required</p>
      <p ng-show="(editcat.Name.$touched || editcat.Date.$submitted) && editcat.Date.$error.required" class="assertive"> the Date field is required</p>
      <p ng-show="(editcat.Paid.$touched || editcat.Paid.$submitted) && editcat.Paid.$error.required" class="assertive"> the Value field is required</p>

      <button ng-disabled = "editcat.Name.$error.required" class="button button-full button-positive" ng-click="updateData(newData)">Edit</button>
    </form>
  </ion-content>
</ion-modal-view>
